<article class="header-phone">+38 (067) 2737478</article>
  <section class="header-buttons">
      <article class="header-account">
              <i class="fas fa-user"></i>
              <span class="header-text">My Account</span>
      </article>
      <article class="header-wish">
              <i class="fas fa-heart"></i>
              <span class="header-text">Wish List (0)</span>
          </article>
          <article class="header-login">
              <i class="fas fa-lock"></i>
              <span class="header-text">Login</span>
          </article>
  </section>
