/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding: 0;
}
body{
  min-height:100vh;
  box-sizing:border-box;
  display:flex;

  }
app-root{
  display:flex;
  flex-direction: column;
  font-family: Verdana;
  font-size: 14px;
  flex: 1;
}
